@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root{
    --prime-color: #2a2a2a;
    --second-color: #ffa65d;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Lato, sans-serif;
    display: flex;
    justify-content: center;
    place-items: center;
    background: linear-gradient(to left, linen 50%, var(--second-color) 0%);
    margin: 1em;
}
#box{
    display: flex;
    padding: 4em 1em;
    margin-top: 10vh;
    flex-direction: column;
    place-items: center;
    gap: 1em;
    font-size: 22px;
    font-weight: 500;
    background: linear-gradient(45deg , #2e2e2e 0%, #474747 100%);
    border: 10px solid #1c1c1c;
    border-radius: 2.5em;
    color: white;
}
#box h3{
    font-size: 1.5em;
    color: lightblue;
    font-weight: 900;
}
#inputSearchQrc{
    padding: 5px 2px;
    font-size: 1em;
    outline: none;
}
#searchQrc{
    padding: 1em;
    border: 5px solid lightblue;
    background-color: transparent;
    color: white;
    font-weight: 100;
    cursor: pointer;
    transition: .5s;
}
#searchQrc:active{
    scale: .9;
}
#searchQrc:hover, #searchQrc:active{
    background-color: lightblue;
    color: #1c1c1c;
}
.qrBox{
    display: none;
    transition: .5s;
}
.ativo{
    display: block;
}